<div class="container mt-5 mb-5 ">
  <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">
          <div class="card shadow">
              <div class="d-flex justify-content-between p-3 px-3">
                  <div class="d-flex flex-row align-items-center"> <img src="https://res.cloudinary.com/mypet-api-images/image/upload/v1673537084/ibjv0dfbpqwgwneua663.png" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">Jeanette Sun</span> <small class="text-primary">USER</small> </div>
                  </div>
                  <div class="mt-1 ellipsis">   <span class="d-flex justify-content-end"><i class="fa fa-ellipsis-h"></i></span> <small class="mr-2 d-block">20 mins</small></div>
              </div> 
              <h3 class="px-4 fw-bold">{{blog.title}}</h3>
              <img *ngFor="let image of blog.images" [src]="image" class="img-fluid px-4"/>
              <div class="p-2">
                  <p class="text-justify px-4">{{blog.description}}</p>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row icons d-flex align-items-center px-2"> <i class="fa-regular fa-heart"></i> </div>
                      <div class="d-flex flex-row muted-color share"> <span >2 comments</span> </div>
                  </div>
                  <hr>
                  <div class="comments">
                      <div class="d-flex flex-row mb-2"> <img src="https://res.cloudinary.com/mypet-api-images/image/upload/v1673537084/ibjv0dfbpqwgwneua663.png" width="40" class="rounded-image">
                          <div class="d-flex flex-column ml-2"> <span class="name">Daniel Frozer</span> <small class="comment-text">I like this alot! thanks alot</small>
                              <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small><small>18 mins</small> </div>
                          </div>
                      </div>
                      <div class="d-flex flex-row mb-2"> <img src="https://res.cloudinary.com/mypet-api-images/image/upload/v1673537084/ibjv0dfbpqwgwneua663.png" width="40" class="rounded-image">
                          <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">Thanks for sharing!</small>
                              <div class="d-flex flex-row align-items-center status"> <small>32 Like</small> <small>1 Reply</small> <small>8 mins</small> </div>
                          </div>
                      </div>
                      <div class="comment-input"> <input type="text" class="form-control">
                          <div class="fonts"> <i class="fa fa-camera"></i> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>