<app-add-book (savedBooked)="handleSavedBooked($event)"></app-add-book>
<div class="body"  *ngIf="(paginationBook$|async) as asyncBooks; else loading">
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2>Books <b>Management</b></h2>
              </div>
              <div class="col-sm-7">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addBook"
                  ><i class="material-icons">&#xE147;</i>
                  <span>Add New Book</span></button
                >
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Books</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>total</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of asyncBooks.content" class="align-middle alert border-bottom" role="alert">
                  
                    <td class="text-center">
                        <img class="pic"
                            [src]="book.images[0]"
                            alt="">
                    </td>
                    <td>
                        <div>
                            <p class="m-0 fw-bold">{{book.name}}</p>
                            <p class="m-0 text-muted">{{book.author}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="fw-600">${{book.price}}</div>
                    </td>
                    <td>
                      {{book.discountPercentage}}
                    </td>
                    <td class="d-">
                        <span class="">{{book.quantity}}</span>
                    </td>
                    <td>
                        ${{book.price * book.quantity - book.price * book.quantity * book.discountPercentage / 100}}
                    </td>
                <td><span class="status text-success">&bull;</span> Active</td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <span (click)="handleDeleteBook(book.id)" class="delete" title="Delete" data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="clearfix">
            <div class="hint-text">Showing <b>{{asyncBooks.numberOfElements}}</b> out of <b>{{asyncBooks.totalElements}}</b> entries</div>
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage===0"  ><button>Previous</button></li>
              <li class="page-item"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div> -->
          <mat-paginator #paginator [length]="asyncBooks.totalElements" [pageSize]="asyncBooks.size" [pageSizeOptions]="[2,5, 10, 25, 100]" 
          (page)="handlePage($event)"
          pageIndex="{{currentPage}}"
          showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading><app-loader></app-loader></ng-template>