<div class="sub_page" style="min-height: 100vh;">

  <div class="hero_area">
    <!-- header section strats -->
    <app-navbar-user></app-navbar-user>
    
    <!-- end header section -->
  </div>

  <!-- blog section -->
  <br>
  <div class="container">
      <div class="wrapper">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
 <br>

  <!-- end blog section -->

  <!-- info section -->
  <app-footer-user></app-footer-user>
  
</div>