
  <div class="product-grid col-4">
    <div class="product-image">
      <a href="#" class="image">
        <img class="pic-1" src="assets/images/books/book2_f.jpg" />
        <img class="pic-2" src="assets/images/books/book2_b.jpg" />
      </a>
      <span class="product-sale-label">sale!</span>
      <ul class="social">
        <li>
          <a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a>
        </li>
        <li>
          <a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a>
        </li>
      </ul>
      <div class="product-rating">
        <ul class="rating">
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="far fa-star"></li>
          <li class="far fa-star"></li>
        </ul>
        <a class="add-to-cart" href="#"> ADD TO CART </a>
      </div>
    </div>
    <div class="product-content">
      <h3 class="title"><a href="#">Men's Shirt</a></h3>
      <div class="price"><span>$28.00</span>$20.00</div>
    </div>
  </div>
